/* General styles */


.wrapper1 {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
}

.wrapper {
    width: 420px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #fff;
    outline: none;
}

.input-box input::placeholder {
    color: #ddd;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #ddd;
}

.remember_forget {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color:black;
}

.remember_forget label {
    color: black;
}

.remember_forget label input {
    accent-color: black;
    text-decoration: none;
}

.remember_forget a {
    color: black;
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ddd;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    color: black;
}

.register-link a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.remember_forget a {
    color: black;
    text-decoration: underline;
}

.para a {
    color: black; /* Specifically change the color of the "Register" link to black */
}